/* vim:ft=css */
configuration {
modi: "window,drun,run,ssh";
lines: 2;
columns: 2;
bw: 2;
terminal: "kitty";
drun-match-fields: "name,generic,exec,categories";
levenshtein-sort: true;
combi-modi: "drun,run,ssh";
matching: "fuzzy";
theme: "~/.config/rofi/themes/drun.rasi";
combi-hide-mode-prefix: true;
}
