@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root{
  --uc-window-control-width: 138px; /* Space reserved for window controls */
  --uc-window-drag-space-width: 4px; /* Extra space reserved on both sides of the nav-bar to be able to drag the window */
}

#nav-bar::before,
#nav-bar::after{
  content: "";
  display: -moz-box;
  width: var(--uc-window-drag-space-width);
}

toolbar#nav-bar::after{ width: calc(var(--uc-window-control-width) + var(--uc-window-drag-space-width,0px)) }

#TabsToolbar{ visibility: collapse !important }

:root:not([inFullscreen]) #nav-bar{
  margin-top: calc(0px - var(--uc-toolbar-height));
}

  #navigator-toolbox {
    border-bottom: 0 !important;
  }

  #sidebar-box:not([hidden]) {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 31px;
    position: fixed;
    z-index: 1;
    transition: all 0.2s ease;
    border-right: 1px solid #333; /* Adjust to fit your theme */
  }

  #sidebar-box:hover,
  #sidebar-header,
  #sidebar {
    width: 20vw !important;
  }
  
  #sidebar-splitter {
    display: none;
  }

  /*
   * Adjust to your settings!
   * You need to subtract the height of the panels above sidebar: nav bar,
   * bookmarks bar, etc. -- whichever is enabled/displayed.
   *
   * You can see which mode (normal, compact or touch) you’re in by going to:
   * Firefox Menu ? Customize… (at the bottom of the screen) ? Density
   *
   *                | normal | compact | touch
   * Menu bar       |  27px  |   27px  |  27px
   * Tab bar        |  33px  |   29px  |  41px
   * Nav bar        |  40px  |   32px  |  40px
   * Bookmarks bar  |  23px  |   21px  |  27px
   *
   * Example:
   * - tab bar is hidden with CSS above (0px)
   * - menu and bookmarks bar are hidden by default (0px)
   * - that only leaves nav bar = 40px in normal mode (default)
   */
  #sidebar-box {
    height: 100vh;
  }

  #sidebar {
    flex-grow: 1;
  }

  #sidebar-box:not([hidden]) ~ #appcontent {
    margin-left: 35px;
  }

  #main-window[inFullscreen][inDOMFullscreen] #appcontent {
    margin-left: 0;
  }

  #main-window[inFullscreen] #sidebar-box {
    height: 100vh;
  }

  /* Place sidebar header at the bottom */
  /*
  #sidebar-box {
    flex-direction: column-reverse;
  }
  */

  /* Hide sidebar header */
  /*
  #sidebar-header {
    display: none;
  }
  */
}

#pocket-button-box,
#pageActionButton,
#pageActionSeparator,
.urlbar-go-button
{
    display: none !important;
}

toolbarspring { -moz-box-flex: unset !important;}

/* Remove back button circle */
#back-button:not(:hover),
#back-button:not(:hover) > .toolbarbutton-icon {
background: transparent !important;
border: none !important;
box-shadow: none !important;
}

#back-button:hover,
#back-button:hover > .toolbarbutton-icon {
border: none !important;
border-radius: 2px !important;
}  

#back-button {
	fill-opacity: 1 !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.toolbarbutton-1 { opacity: 1 !important;}


/* URL Bar */
#urlbar[focused="true"],
#urlbar:hover,
.searchbar-textbox:hover {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

#urlbar,
.searchbar-textbox,
#urlbar:hover,
.searchbar-textbox:hover {
  background: transparent !important;
  height: 32px !important;
  padding: 0px !important;
  font-size: 1.1em !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  -moz-appearance: none;
  margin: 4px 0px !important;
  min-height: 24px !important;
  cursor: default;
}

/* Hide bookmark button, page actions, security labels and extension icons */
#star-button-box,
#pageActionButton,
#blocked-permissions-container,
#identity-icon-labels,
#extension-icon {
  display: none !important;
  background: transparent !important;
}

/* Borders inside URL bar */
#identity-box {
  border: 0 !important;
  padding: 0 4px !important;
}

#identity-box #identity-icon {
  margin-right: -20px !important;
  opacity: 0 !important;
}

/*Night Owl*/

/* Fixing back button in normal density */
:root:not([uidensity=compact]) #back-button {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
:root:not([uidensity=compact]) #back-button > .toolbarbutton-icon {
    background-color: unset !important;
    border: none !important;
}

/* Remove extra space around tabs */
.titlebar-spacer[type="pre-tabs"] {
    width: 25px !important;
}
.titlebar-spacer[type="post-tabs"] {
    width: 5px !important;
}

/* Remove tab list icon */
#alltabs-button {
  display: none !important;
}


/* OPTIONAL */
/* Remove unnecessary identity-box content */
#urlbar[pageproxystate="valid"] > #identity-box.verifiedDomain > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.mixedActiveBlocked > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity > #identity-icon-labels {
  display: none !important;
}
#urlbar[pageproxystate=valid] > #identity-box.notSecureText,
#urlbar[pageproxystate=valid] > #identity-box.verifiedIdentity,
#urlbar[pageproxystate=valid] > #identity-box.chromeUI,
#urlbar[pageproxystate=valid] > #identity-box.extensionPage,
#urlbar-display-box {
  border: none !important;
  margin-right: 0 !important;
}

/* White GitHub favicon */
.tabbrowser-tab[image^="data:image/x-icon;base64,AAABAAIAEBAAAAEAIAAoBQAAJgAAACAgAAABACAAKBQAAE4FAAAoAAAAEAAAACAAAAABACAAAAAAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABERE3YTExPFDg4OEgAAAAAAAAAADw8PERERFLETExNpAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABQUFJYTExT8ExMU7QAAABkAAAAAAAAAAAAAABgVFRf/FRUX/xERE4UAAAAAAAAAAAAAAAAAAAAAAAAAABEREsETExTuERERHhAQEBAAAAAAAAAAAAAAAAAAAAANExMU9RUVF/8VFRf/EREUrwAAAAAAAAAAAAAAABQUFJkVFRf/BgYRLA4ODlwPDw/BDw8PIgAAAAAAAAAADw8PNBAQEP8VFRf/FRUX/xUVF/8UFBSPAAAAABAQEDAPDQ//AAAA"] .tab-icon-image {
  filter: invert(1.0) !important;
}
