.base {
  color: #24292E;
  color: #778cA3;
  color: #D0D0D0;
  color: #EFEFEF;
  color: #FDFEFB;

  color: #ED4F98;
  color: #ED4F69;
  color: #ED4F4F;

  color: #ED744F;
  color: #FFC86F;
  color: #F7E607;

  color: #41A6D9;
  color: #63F2F1;
  color: #0EADB0;
  color: #005cc5;
  color: #4feba5;

  color: #7566FF;
  color: #4653B8;

  color: #EE89B6;

}
