.xfce4-panel.background.panel {
  background-color: rgba(255,255,255,0.0);
}


#xfce-panel-toggle-button:hover,
#xfce-panel-toggle-button:active,
#xfce-panel-toggle-button:checked {
    background: rgba(255,255,255,0.1)
}

#sn-button:hover,
#sn-button:active,
#sn-button:checked * {
    background: rgba(255,255,255,0.1)
}


#xfce-panel-toggle-button:hover,
#xfce-panel-toggle-button:active,
#xfce-panel-toggle-button:checked {
    background: rgba(255,255,255,0.1)
}

#pulseaudio-button:hover,
#pulseaudio-button:active,
#pulseaudio-button:checked {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

#pulseaudio-button * {
    -gtk-icon-transform: scale(.7);
}

@import 'colors.css';