[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/nyx/Desktop/currently-reading]
row=4
col=20

[/home/nyx/Desktop/cities-za.json]
row=5
col=19

[/home/nyx/Desktop/bekar_com_bd___resume_download_free.png]
row=3
col=17

[2020-01-01-05-20-18-00]
row=0
col=20

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/nyx]
row=3
col=0

